:root {
  font: 16px / 1 sans-serif;
  --color-primary: rgb(179, 63, 148);
  --color-secondary: rgb(230, 99, 99);
  --color-tertiary: rgb(158, 224, 244);
  --color-fourth: rgb(173, 223, 200);
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

h1 {
  font: 3rem / 1 sans-serif;
  font-weight: 700;
  color: var(--color-primary);
}

h2 {
  font: 2rem / 1 sans-serif;
  color: var(--color-secondary);
}

header {
  background: linear-gradient(var(--color-tertiary), var(--color-fourth));
  padding: 0.1rem;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
  padding-top: 5rem;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  padding: 2rem 0.1rem;
  text-align: center;
  justify-content: center;
  height: 3rem;
}

#molang {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1000;
  background-color: var(--color-primary);
}
.form-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 3rem;
  border-radius: 0.75rem;
}

.form-section > * {
  margin: 0.5rem;
}

article {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 3rem;
}

ul {
  list-style: none;
  padding: 1rem;
  margin: 1rem;
  background: linear-gradient(rgb(255, 239, 224), rgb(250, 199, 255));
  border-radius: 0.5rem;
}
